body {
    background-image: url('./IMG/Globos/NUBES.jpeg');
    background-size: cover;
    background-position: center;
    text-align: center;
    font-family: Arial, sans-serif;
    color: white;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    font-size: 18px;
}

button:hover {
    background-color: #218838;
}

#zona-juego {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

.globo {
    position: absolute;
    bottom: 0;
    width: 90px;
    height: 110px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    background-size: contain;  /* Ajustar la imagen sin recortar */
    background-repeat: no-repeat;
    background-position: center;

}

/* Efecto al pasar el mouse */
.globo:hover {
    transform: scale(1.2); /* Aumenta el tamaño */
}


.mensaje {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 24px;
    text-align: center;
}

.mensaje button {
    background-color: #007bff;
    padding: 10px 15px;
    margin: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.mensaje-error {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
}

#mensaje-letra {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    color: rgb(2, 2, 2);
    font-size: 22px;
    border-radius: 8px;
}

.header2 {
	position: absolute; 
	top: 0;
	left: 0;
	display: flex;
	align-items: flex-start; 
	justify-content: flex-start;
	padding: 10px;
}


.back-button {
	width: 120px;
	height: 60px;
	cursor: pointer;
}